<header>
  <nav class="nav navbar-nav navbar-left">
      <h1 class="sample"><%= link_to image_tag("logo.png"), root_path, data: {"turbolinks" => false}, style: "font-family: HiraMinPro-W6; color: #000000;" %></h1><%# image_tag("img_logo.png") %>
  </nav>
  <nav>
    
  </nav>
</header>
 